<a href="https://colab.research.google.com/github/banno-0720/big-data/blob/main/PySpark_handling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook covers
- Dropping Columns
- Dropping Rows
- Various Parameter in Dropping functionalities
- Handling Missing values by Mean, Median and Mode

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [5]:
df_pyspark = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| abc|  21|         3| 30000|
| def|  18|         0| 25000|
| xyz|  24|         4| 10000|
| ghi|  30|         6| 15000|
| jkl|NULL|      NULL| 40000|
|NULL|  34|        10| 38000|
|NULL|  36|      NULL|  NULL|
+----+----+----------+------+

In [7]:
df_pyspark.drop("Name").show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  21|         3| 30000|
|  18|         0| 25000|
|  24|         4| 10000|
|  30|         6| 15000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [8]:
df_pyspark.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| abc| 21|         3| 30000|
| def| 18|         0| 25000|
| xyz| 24|         4| 10000|
| ghi| 30|         6| 15000|
+----+---+----------+------+

In [9]:
### how == any/all
df_pyspark.na.drop(how="any").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| abc| 21|         3| 30000|
| def| 18|         0| 25000|
| xyz| 24|         4| 10000|
| ghi| 30|         6| 15000|
+----+---+----------+------+

In [10]:
### threshold
df_pyspark.na.drop(how="any", thresh=2).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| abc|  21|         3| 30000|
| def|  18|         0| 25000|
| xyz|  24|         4| 10000|
| ghi|  30|         6| 15000|
| jkl|NULL|      NULL| 40000|
|NULL|  34|        10| 38000|
+----+----+----------+------+

In [11]:
### Subset
df_pyspark.na.drop(how="any", subset=["Age"]).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| abc| 21|         3| 30000|
| def| 18|         0| 25000|
| xyz| 24|         4| 10000|
| ghi| 30|         6| 15000|
|NULL| 34|        10| 38000|
|NULL| 36|      NULL|  NULL|
+----+---+----------+------+

In [12]:
### Filling the missing value
df_pyspark.na.fill("Missing Values", ["Experience", "Age"]).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| abc|  21|         3| 30000|
| def|  18|         0| 25000|
| xyz|  24|         4| 10000|
| ghi|  30|         6| 15000|
| jkl|NULL|      NULL| 40000|
|NULL|  34|        10| 38000|
|NULL|  36|      NULL|  NULL|
+----+----+----------+------+

In [13]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| abc|  21|         3| 30000|
| def|  18|         0| 25000|
| xyz|  24|         4| 10000|
| ghi|  30|         6| 15000|
| jkl|NULL|      NULL| 40000|
|NULL|  34|        10| 38000|
|NULL|  36|      NULL|  NULL|
+----+----+----------+------+

In [14]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["Age", "Experience", "Salary"],
    outputCols=["{}_imputed".format(c) for c in ["Age", "Experience", "Salary"]]
).setStrategy("mean")

In [15]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----+----+----------+------+-----------+------------------+--------------+
|Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----+----+----------+------+-----------+------------------+--------------+
| abc|  21|         3| 30000|         21|                 3|         30000|
| def|  18|         0| 25000|         18|                 0|         25000|
| xyz|  24|         4| 10000|         24|                 4|         10000|
| ghi|  30|         6| 15000|         30|                 6|         15000|
| jkl|NULL|      NULL| 40000|         27|                 4|         40000|
|NULL|  34|        10| 38000|         34|                10|         38000|
|NULL|  36|      NULL|  NULL|         36|                 4|         26333|
+----+----+----------+------+-----------+------------------+--------------+