<a href="https://colab.research.google.com/github/banno-0720/big-data/blob/main/PySpark_Filter_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook covers
- Filter Operation
- &,|,==
-~

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ops').getOrCreate()
df = spark.read.csv('test1.csv',inferSchema=True,header=True)

In [2]:
df.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| abc| 21|         3| 30000|
| def| 18|         0| 25000|
| xyz| 24|         4| 10000|
| ghi| 30|         6| 15000|
| jkl| 26|         1| 40000|
| pqr| 34|        10| 38000|
| mln| 36|        16| 19000|
+----+---+----------+------+

In [3]:
### Salary of the people less than or equal to 20000
df.filter("Salary<=20000").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| xyz| 24|         4| 10000|
| ghi| 30|         6| 15000|
| mln| 36|        16| 19000|
+----+---+----------+------+

In [4]:
df.filter("Salary<=200000").select(["Name","age"]).show()

+----+---+
|Name|age|
+----+---+
| abc| 21|
| def| 18|
| xyz| 24|
| ghi| 30|
| jkl| 26|
| pqr| 34|
| mln| 36|
+----+---+

In [5]:
df.filter(df['Salary']<=20000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| xyz| 24|         4| 10000|
| ghi| 30|         6| 15000|
| mln| 36|        16| 19000|
+----+---+----------+------+

In [6]:
df.filter((df['Salary']<=20000) | (df["Salary"]>=35000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| xyz| 24|         4| 10000|
| ghi| 30|         6| 15000|
| jkl| 26|         1| 40000|
| pqr| 34|        10| 38000|
| mln| 36|        16| 19000|
+----+---+----------+------+

In [7]:
df.filter((df['Salary']<=20000) & (df["Salary"]>=15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| ghi| 30|         6| 15000|
| mln| 36|        16| 19000|
+----+---+----------+------+

In [8]:
df.filter(~(df['Salary']<=20000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| abc| 21|         3| 30000|
| def| 18|         0| 25000|
| jkl| 26|         1| 40000|
| pqr| 34|        10| 38000|
+----+---+----------+------+